.header{
    background-image: url(/assets/images/header-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    @include mobile{
        background-position: top center;
        background-size: cover;
    }
    .nav-bar{
        padding: 85px 0 120px;
        display: flex;
        justify-content: space-between;
        @include mobile{
            display: none;
        }
        .logo{
            width: 300px;
        }
        .contact{
            display: flex;
            width: 530px;
            justify-content: space-between;
            a{
                font-size: 25px;
                font-weight: 500;
                color: #4B23BD;
            }
            img{
                width: 40px;
                transition: .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    .wrapper{
        display: flex;
        @include mobile{
            flex-direction: column;
            padding-bottom: 50px;
        }
        .wrapper-text{
            padding: 20px 0 0 80px;
            width: 50%;
            @include mobile{
                width: 100%;
                
            }
            h1{
                font-weight: 800;
                font-size: 60px;
                color: #082E9B;
                width: 280px;
                @include mobile{
                    font-size: 35px;
                    transform: translateX(-50px);
                }
            }
            .list{
                font-weight: 500;
                font-size: 30px;
                color: #082E9B;
                li{
                    position: relative;
                    &::before{
                        position: absolute;
                        top: -15px;
                        left: -15px;
                        content: "\2022";
                        color: red;                    display: inline-block; 
                        margin-left: -1em;
                        font-size: 50px;
                    }
                }
                .orange::before{
                    color: #FF7F00;   
                }
                .blue::before{
                    color: #00BDFF;   
                }
                .pur::before{
                    color: #C63BAF;   
                }
            }
            .wrapper-link{
                display: block;
                margin-top: 150px;
                font-weight: 800;
                font-size: 25px;
                color: #082E9B;
                width: 474px;
                padding: 24px 60px;
                border: 1px solid #A69FA3;
                box-sizing: border-box;
                border-radius: 60px;
                text-align: center;
                display: flex;
                text-align: left;
                transform: translateX(-50px);
                @include mobile{
                    display: none;
                } 
                img{
                    width: 20px;

                }
            }
        }
        .wrapper-img{
            width: 50%;
            @include mobile{
                width: 100%;
            }
            img{
                transform: translateX(100px);
                @include mobile{
                    width: 100%;
                    transform: translateX(0);
                }
            }
        }
        .d-mob-none{
            @include mobile{
                display: none;
            } 
        }
        .wrapper-mob-link{
            display: none;
            margin-top: 50px;
            font-weight: 800;
            font-size: 15px;
            color: #082E9B;
            width: 292px;
            padding: 14px;
            border: 1px solid #A69FA3;
            box-sizing: border-box;
            border-radius: 60px;
            text-align: center;
            text-align: left;
            text-align: center;
            @include mobile{
                display: flex;
            } 
            img{
                width: 20px;
            }
        }
        
    }
}
.hamburger-menu{
    display: none;
    @include mobile{
        display: block;
    }
}
.menu__btn {
    display: flex;
    align-items: center; 
    position: absolute;
    top: 30px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4B23BD;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 70px;
    right: -100%;
    width: 60%;
    margin: 0;
    padding: 40px 20px;
    list-style: none;
    background: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
    border-radius: 20px;
  }
  .menu__item {
    display: block;
    padding: 5px 24px;
    color: #082E9B;
    font-weight: 500;
    font-size: 16px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
#menu__toggle{
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 15%;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }