.compare{
    margin-top: 120px;
    @include mobile{
        display: none;
    }
    .compare-content{
        display: flex;
        position: relative;
    }
    .compare-info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 1170px;
        justify-content: space-between;
    }
    .compare-school{
        padding: 85px 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .compare-text h4{
            color: #40B5BB;
        }
    }
    .compare-school-bg{
        width: 50%;
        background-color: #FFCED4;
        height: 1100px;
    }
    .compare-we{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 85px 0;
        .compare-text h4{
            color: #E17C1B;
        }
    }
    .compare-we-bg{
        width: 50%;
        background-color: #68D9FF;
    }
    .compare-title{
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin-bottom: 110px;
    }
    .compare-list{
        position: relative;
        font-weight: 800;
        font-size: 18px;
        display: flex;
        padding: 12px 70px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #131212;
        width: 290px;
        height: 66px;
        background: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        margin-bottom: 130px;
    }
    .compare-text{
        padding: 24px 60px;
        width: 380px;
        background: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        @include mobile{
            border-radius: 28px;
        }
        h4{
            font-weight: 800;
            font-size: 16px;
        }
        p{
            padding: 0;
            font-weight: 500;
            font-size: 16px;
            color: #151414;
        }
    }
    .compare-girl{
        position: absolute;
        width: 450px;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .list-1::after{
        content: url(/assets/images/list-1.svg);
        display: inline-block;
        top: 30px;
        right: -125px;
        position: absolute;
    }
    .list-2::after{
        content: url(/assets/images/list-2.svg);
        display: inline-block;
        top: 20px;
        right: -90px;
        position: absolute;
    }
    .list-2{
        margin-bottom: 115px;
    }
    .list-3::after{
        content: url(/assets/images/list-3.svg);
        display: inline-block;
        top: -50px;
        right: -130px;
        position: absolute;
    }
    .list-4::after{
        content: url(/assets/images/list-4.svg);
        display: inline-block;
        top: 30px;
        left: -137px;
        position: absolute;
    }
    .list-5::after{
        content: url(/assets/images/list-5.svg);
        display: inline-block;
        top: 20px;
        left: -110px;
        position: absolute;
    }
    .list-5{
        margin-bottom: 115px;
    }
    .list-6::after{
        content: url(/assets/images/list-6.svg);
        display: inline-block;
        top: -55px;
        left: -150px;
        position: absolute;
    }
}
.compare-mob{
    display: none;
    @include mobile{
        display: block;
    }
    h2{
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
        text-align: center;
        margin-bottom: 45px;
    }
    .compare-text{
        padding: 13px 55px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        @include mobile{
            border-radius: 28px;
        }
        h4{
            font-weight: 800;
            font-size: 12px;
            
        }
        p{
            padding: 0;
            font-weight: 500;
            font-size: 12px;
            color: #151414;
            margin: 0;
        }
    }
    .compare-school{
        background-color: #FFCED4;
        padding: 45px 0;
        position: relative;    
        .school-content{
            width: 305px;
            margin: 0 auto;
            img{
                position: absolute;
                top: 80px;
                right: 0;
                width: 170px;
            }
        }
        .compare-list{
            font-weight: 800;
            font-size: 10px;
            display: flex;
            padding: 12px 70px;
            align-items: center;
            justify-content: center;
            color: #131212;
            width: 106px;
            height: 35px;
            background: #FFFFFF;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
            margin-bottom: 70px;
            line-height: 1;
            margin-left: 20px;
        }
        h4{
            color: #E17C1B;
        }
    }
    .compare-we{
        background-color: #68D9FF;
        padding: 45px 0; 
        position: relative;   
        .we-content{
            width: 305px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            img{
                position: absolute;
                top: 80px;
                left: 0;
                width: 190px;
            }
        }
        .compare-list{
            margin-right: 20px;
            font-weight: 800;
            font-size: 10px;
            display: flex;
            padding: 12px 70px;
            align-items: center;
            justify-content: center;
            color: #131212;
            width: 106px;
            height: 35px;
            background: #FFFFFF;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
            margin-bottom: 70px;
            line-height: 1;
        }
        h4{
            color: #40B5BB;
        }
    }
}
.main{
    background-image: url(/assets/images/color-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -1100px;
    padding-top: 122px;
    @include mobile{
        padding-top: 40px;
    }
    h2{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 40px;
        color: #C63BAF;
        @include mobile{
            font-size: 23px;
        }
    }
    .about{
        background: #fff;
        padding-top: 110px;
        display: flex;
        border-radius: 50px;
        @include mobile{
            padding-top: 50px;
            flex-direction: column-reverse;
            position: relative;
            border-radius: 30px;
            padding-top: 40px;
        }
        .about-img{
            width: 570px;
            @include mobile{
                width: 330px;
                position: absolute;
                bottom: -250px;
                left: 0;
            }
            img{
                width: 100%;
                transform: translateX(-40px);
            }
        }
        .about-info{
            width: 470px;
            @include mobile{
                width: 100%;
                padding: 0 25px 60px;
                
            }
        }

        p{
            font-weight: 500;
            font-size: 20px;
            color: #1C1A1A;
            @include mobile{
                font-size: 13px;
            }
        }
        .slogan{
            font-weight: 800;
            font-size: 30px;
            color: #4B23BD;
            @include mobile{
                font-size: 16px;
                text-align: center;
            }
        }
        h2{
            @include mobile{
                text-align: center;
            }
        }
        
    }
    .advantage{
        margin-top: 180px;
        h2{
            text-align: center;
            @include mobile{
                margin-top: 280px;
                font-size: 23px;
            }
        }
        .advantage-list{
            margin: 110px auto;
            width: 1000px;
            display: flex;
            justify-content: space-between;
            @include mobile{
                flex-direction: column;
                width: 100%;
                margin: 40px auto;
            }
            .advantage-card{
                width: 160px;
                @include mobile{
                    margin: 20px auto;
                }
                img{
                    width: 160px;
                    height: 160px;
                    margin-bottom: 30px;
                    @include mobile{
                        display: block;
                        margin: 0 auto 30px;
                        width: 100px;
                        height: 100px;
                    }
                }
                h3{
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 15px;
                    text-align: center;
                    color: #161515;
                }
            }
        }
    }
    .courses{
        margin-top: 180px;
        display: flex;
        flex-wrap: wrap;
        @include mobile{
            display: none;
        }
        .header-card{
            background: #FFFFFF;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;   
            h2{
                margin: 0;
            }     
        }
        .courses-card{
            width: 380px;
            height: 390px;
            border-radius: 25px;
            margin: 8px;
            position: relative;
            perspective: 1000px;
            &:hover .front{
                transform: rotateY(180deg);
            }
            &:hover .back{
                transform: rotateY(360deg);
            }
            .front, .back{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 1s;
                backface-visibility: hidden;
            }
            .front{
                border-radius: 25px;
                padding: 44px;
            }
            .back{
                transform: rotateY(180deg);
                background-color: #fff;
                border-radius: 25px;
                padding: 30px 40px;
                position: relative;
                .title{
                    display: flex;
                
                    img{
                        width: 60px;
                        margin-right: 40px;
                    }
                }
                .text{
                    margin-top: 25px;
                    color: #121111;
                    h4{
                        margin-top: 15px;
                        font-weight: 800;
                        font-size: 14px;
                        margin: 0;
                    }
                    p{
                        font-weight: 500;
                        font-size: 14px;
                        margin: 0;
                        line-height: 1.2;
                    }
                }
            }
            .title{
                display: flex;
                align-items: center;
                img{
                    width: 120px;
                    margin-right: 30px;
                }
                h3{
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 20px;
                    color: #FCFCFC;
                }
            }

            .couse-price{
                margin-top: 30px;
                width: 100%;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 10px;
                text-align: center;
                padding: 13px;
                p{
                    padding: 0;
                    margin: 0;
                    color: #FFFFFF;
                    font-weight: 800;
                }
                .price{
                    font-size: 33px;
                }
                .currency{
                    font-size: 13px;
                }
            }
            a{
                margin-top: 20px;
                text-align: center;
                width: 100%;
                display: block;
                background: #ECE9E9;
                border: 1px solid #FFFFFF;
                border-radius: 10px;
                font-weight: 800;
                font-size: 20px;
                color: #000000;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                width: 288px;
            }
            .more-info{
                font-weight: 500;
                font-size: 13px;
                text-align: center;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 6px;
                margin-top: 30px;

            }
        }
        .card-1{
            .front{
                background: linear-gradient(180deg, #0C853C 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #0C853C;
                }
            }
            
        }
        .card-2{
            .front{
                background: linear-gradient(180deg, #F78928 33.34%, rgba(255, 255, 255, 0.52) 181.67%)
            }
            .back{
                h3{
                    color: #F78928;
                }
            }
        }
        .card-3{
            .front{
                background: linear-gradient(180deg, #34781D 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #34781D;
                }
            }
        }
        .card-4{
            .front{
                background: linear-gradient(180deg, #7E8219 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #7E8219;
                }
            }
        }
        .card-5{
            .front{
                background: linear-gradient(180deg, #8F6300 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #8F6300;
                }
            }
        }
        .card-6{
            .front{
                background: linear-gradient(180deg, #8F3299 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #8F6300;
                }
            }
        }
        .card-7{
            .front{
                background: linear-gradient(180deg, #1227C6 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #1227C6;
                }
            }
        }
        .card-8{
            .front{
                background: linear-gradient(180deg, #8D2400 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #8D2400;
                }
            }
        }
        .card-9{
            .front{ 
                background: linear-gradient(180deg, #129BBC 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #129ABC;
                }
            }
        }
        .card-10{
            .front{ 
                background: linear-gradient(180deg, #1945C2 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #1945C2;
                }
            }
        }
        .card-11{
            .front{ 
                background: linear-gradient(180deg, #2600CC 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color:#2600CC;
                }
            }
        }
        .card-12{
            .front{ 
                background: linear-gradient(180deg, #880019 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #880019;
                }
            }
        }
        .card-13{
            .front{ 
                background: linear-gradient(180deg, #2E96BC 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            }
            .back{
                h3{
                    color: #2E95BC;
                }
            }
        }
    }
    .courses-mob{
        display: none;
        @include mobile{
            display: block;
        }
        .header-card{
            background: #FFFFFF;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;  
            padding: 116px 0;
            margin-bottom: 30px;
            border-radius: 10px;
            box-shadow: (-5px 5px 10px rgba(0, 0, 0, 0.15));;

            h2{
                margin: 0;
                font-size: 23px;
            }     
        }
        .try{
            display: block;
            margin-top: 30px;
            padding: 16px 50px;
            width: 100%;
            font-weight: 800;
            font-size: 15px;
            text-align: center;
            color: #082E9B;
            background: #FFFFFF;
            border-radius: 18px;
        }
        .courses-mob__card{
            padding: 25px;  
            border-radius: 18px;
            height: 490px;
            position: relative;
            .card-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 25px;
                h3{
                    font-weight: 800;
                    font-size: 15px;
                    color: #FCFCFC;
                    text-transform: uppercase;
                    text-align: left;
                }
                img{
                    width: 90px;
                    height: 90px;
                }
            }
            .card-text{
                color: #fff;
                text-align: left;
                font-family: Montserrat, sans-serif;
                font-size: 12px;
                h4{
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                p{
                    font-weight: 400;
                    line-height: 130%;
                }
                
            }
            .couse-price{
                margin-top: 40px;
                width: 255px;
                height: 74px;
                box-sizing: border-box;
                border-radius: 10px;
                text-align: center;
                padding: 9px;
                background-color: #FFFFFF;;
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
                p{
                    padding: 0;
                    margin: 0;
                    font-weight: 800;
                }
                .price{
                    font-weight: 800;
                    font-size: 24px;

                }
                .currency{
                    font-size: 13px;
                    position: relative;
                    top: -5px;
                }
            }

        }
        .mob-card-1{
            background: linear-gradient(180deg, #0C853C 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                    color: #0C853C;
                }
            }
        }
        .mob-card-2{
            background: linear-gradient(180deg, #F78928 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                    color: #ED7E1A;
                }
            }
        }
        .mob-card-3{
            background: linear-gradient(180deg, #34781D 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                   color: #34781D;
                }
            }
        }
        .mob-card-4{
            background: linear-gradient(180deg, #7E8219 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                   color: #696C20;
                }
            }
        }
        .mob-card-5{
            background: linear-gradient(180deg, #8F6300 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                    color: #835D09;
                }
            }
        }
        .mob-card-6{
            background: linear-gradient(180deg, #8F3299 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                    color: #85398D;
                }
            }
        }
        .mob-card-7{
            background: linear-gradient(180deg, #1227C6 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                    color: #172AB9;
                }
            }
        }
        .mob-card-8{
            background: linear-gradient(180deg, #8D2400 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #8D2400;
                }
            }
        }
        .mob-card-9{
            background: linear-gradient(180deg, #129ABC 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #157A93;
                }
            }
        }
        .mob-card-9{
            background: linear-gradient(180deg, #1945C2 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #2345A6;
                }
            }
        }
        .mob-card-10{
            background: linear-gradient(180deg, #1945C2 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #2345A6;
                }
            }
        }
        .mob-card-11{
            background: linear-gradient(180deg, #2047D1 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #284AC2;
                }
            }
        }
        .mob-card-12{
            background: linear-gradient(180deg, #880019 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #880019;
                }
            }
        }
        .mob-card-13{  
            background: linear-gradient(180deg, #2E95BC 33.34%, rgba(255, 255, 255, 0.52) 181.67%);
            .couse-price{
                p{
                  color: #1D6B88;
                }
            }
        }
        .swiper-slide{
            background: none;
        }
    }
    .teachers{
        position: relative;
        @include mobile{
            display: none;
        }
        .wh-bg{
            background: #FFFFFF;
            border-radius: 50px;
            width: 100%;
            height: 1130px;
            position: absolute;
            top: -60px;
            left: 0;
            z-index: 0;
        }
        h2{
            text-align: center;
            margin-top: 250px;
            position: relative;
            z-index: 1;
        }
        .teacher-content{
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-top: 50px;
            align-items: center;
        }
        .revers{
            flex-direction: row-reverse;
        }
        .teacher-slogan p{
            z-index: 1;
            width: 400px;
            margin-top: 50px;
            margin-left: 100px;
            @include mobile{
                display: none;
            }
            &::before{
                content: url(/assets/images/card-dot.svg);
                position: absolute;
                top: 10px;
                left: 20px;
            }
            p{
                margin-left: 150px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #6F6767;
            }
        }
        .teacher-card{
            position: relative;
            z-index: 3;
            width: 500px;
            .card-title{
                display: flex;
                align-items: flex-end;
                margin-top: 30px;
                position: relative;
                z-index: 3;
                img{
                    width: 220px;
                }
                .teacher-name{
                    font-weight: 800;
                    font-size: 20px;
                    margin-left: 30px;
                    margin-bottom: 30px;
                    margin-right: 30px;
                }
            }
            .card-text{
                margin-top: 30px;
                position: relative;
                z-index: 3;
            }
        }
        .teacher-card-1::after{
            content: url(/assets/images/tc-bg.svg);
            position: absolute;
            top: 20px;
            left: -80px;
            z-index: 1;
            transform: scale(1.1);
        }
        .teacher-card-2::after{
            content: url(/assets/images/tc-bg2.svg);
            position: absolute;
            top: -150px;
            left: -140px;
            z-index: 1;
            transform: scale(1.1);
        }
        .teacher-slogan-lt{
            p{
                &::before{
                    content: url(/assets/images/card-dot.svg);
                    position: absolute;
                    top: 110px;
                    left: 20px;
                }
            }
        }
        .teacher-card-3::after {
            content: url(/assets/images/tc-bg3.svg);
            position: absolute;
            top: -50px;
            left: -140px;
            z-index: 1;
            transform: scale(1.1);
        }
        .teacher-card-5::after{
            content: url(/assets/images/tc-bg5.svg);
            position: absolute;
            top: 60px;
            left: -80px;
            z-index: 1;
            transform: scale(1.1);
        }
    }
    .teacher-mob{
        margin-top: 40px;
        background: #FFFFFF;
        border-radius: 30px;
        padding: 40px 0;
        overflow: hidden;
        position: relative;
        display: none;
        @include mobile{
            display: block;
        }
        h2{
            font-weight: 800;
            font-size: 23px;
            margin-bottom: 30px;
        }
        .swiper-slide{
            background: none;
        }
        .swiper-button-prev, .swiper-button-next{
            top: 28%;
            background-color: #F0E3EC;
            padding: 12px;
            &::after{
                width: 20px;
                height: 20px;
                content: url(/assets/images/icons/arrow-down-black.svg);
                background-image: none;
            }
        }
        .swiper-button-next{
            right: 20px;
        }
        .swiper-button-prev{
            left: 20px;
        }
        h2{
            font-size: 23px;
            text-align: center;
        }
        .teacher-mob__card{
            .card-title{
                position: relative;
                height: 250px;
                img{
                    width: 95px;
                    height: 95px;
                }
                h3{
                    margin: 17px auto;
                    width: 100px;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
            .card-text{
                text-align: left;
                padding: 20px;
                font-size: 14px;
                font-family: "Montserrat";
                h4{
                    font-weight: bold;
                    margin-bottom: 0;
                }
                p{
                    font-weight: 500;
                }
            }
        }
        .card-1 .card-title{
            background-image: url(/assets/images/tc-bg.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 13px;
        }
    }
    .review{
        margin: 250px auto 0;
        padding: 100px 0;
        position: relative;
        @include mobile{
            margin-top: 50px;
            padding: 60px 0 0;
        }
        .rew-bg{
            background: #FFFFFF;
            border-radius: 50px;
            width: 856px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
        h2{
            text-align: center;
            position: relative;
            z-index: 2;
        }

        .reviews-card{
            position: relative;
            z-index: 2;
            display: flex;
            width: 980px;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            @include mobile{
                width: 100%;
                margin-bottom: 130px;
            }
            .card-img{
                @include mobile{
                    position: absolute;
                    right: 0;
                    bottom: -120px;
                    width: 190px;
                    z-index: 5;
                    right: -70px;
                }
                img{
                    width: 100%;
                }
            }
            .card-content{
                width: 479px;
                border: 2px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 20px;
                padding: 44px;
                background: #fff;
                @include mobile{
                    width: 100%;
                    border: none;
                    padding: 0;
                }
                .autor{
                    font-weight: 800;
                }
            }
        }
        .review-revers{
            flex-direction: row-reverse;
            margin: 50px 0 130px auto;
        }
    }
}
.form{
    background-image: url(/assets/images/form-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    padding: 160px 0;
    @include mobile{
        padding: 60px 0 ;
    }
    form{
        margin: 0 auto;
        padding: 70px 160px 90px;
        width: 700px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.15);
        border: 1.5px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(43px);
        @include mobile{
            width: 90%;
            padding: 25px 20px;
            border-radius: 20px;
        }
        .form-header{
            font-weight: 800;
            font-size: 30px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            width: 450px;
            @include mobile{
                margin: 0 auto 15px;
                width: 80%;
                font-weight: 800;
                font-size: 15px;
            }
        }
        input{
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 30px;
            padding: 17px 25px;
            color: #fff;
            @include mobile{
                margin-top: 10px;
                padding: 7px 20px;
                font-weight: 500;
                font-size: 13px;
            }
            &::placeholder {
                color: #fff;
            }
        }
        button{
            font-weight: 800;
            font-size: 25px;
            color: #131212;
            background: #FFFFFF;
            border-radius: 60px;
            width: 100%;
            padding: 17px 25px;
            margin-top: 80px;
            @include mobile{
                padding: 7px;
                font-weight: 800;
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }
}
.footer-contact{
    position: relative;
    height: 1000px;
    @include mobile{
        height: 900px;
    }
    .contact-card{
        background: #FFFFFF;
        border-radius: 41px;
        padding: 95px 105px;
        position: absolute;
        top: 140px;
        left: 10%;
        @include mobile{
            width: 80%;
            padding: 60px 40px 0;
        }
        h3{
            font-weight: 800;
            font-size: 24px;
            text-align: center;
            color: #1B1919;
            margin-bottom: 40px;
        }
        .form-item{
            width: 250px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            @include mobile{
                width: 100%;
            }
            img{
                width: 25px;
                margin-bottom: 25px;
            }
            a{
                font-weight: 500;
                font-size: 19px;
                text-align: center;
                color: #171616;
                @include mobile{
                    font-size: 15px;
                }
                img{
                    width: 32px;
                }
            }

        }
    }
}